.education{
    position: relative;
    width:100%;
    height:auto;
    margin-top: 120px;
    border:0px solid black;
    padding: 0px;
}
.education h1{
    text-align: center;
    font-size: 40px;
}
.edu-icon{
    position: absolute;
    width: 100%;
    height:100%;
    border: 0px solid black;
}
.bubble{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid white;
    border-radius: calc(50%);
    color:black;
    background-color:rgba(255,255,255,0.3);
    z-index:-1;
    animation:bubble 3s ease 0s   ;
}
@keyframes bubble {
    0%{transform: scale(0) rotate(0deg);}
    100%{transform: scale(1.5) rotate(360deg);}
}
.bubble::after{
    position: absolute;
    border-radius:50%;
    background-color: white;
    content: "";
    width:4px;
    height:4px;
    top:9px;
    left:9px;
}

.edu-container{
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.university{
    width:auto;
    height:auto;
    border: 0px solid black;
}
.university>div{
    position: relative;
    width:200px;
    height: 30px;
    scale: 1.2;
    display: block;/*inline for other screen size*/
    padding: 10px 0px;
    margin-bottom: 30px;
    color:white;
    cursor: pointer;
    text-align: center;
    transition: 0.1s ease;
    background: linear-gradient(45deg,rgb(1, 9, 33),rgb(67, 128, 157));
}
.university div:first-child{
   border-radius: 44% 40% 48% 25% / 55% 58% 41% 39%  ;
}
.university div:last-child{
    border-radius: 44% 22% 11% 40% / 48% 60% 41% 49%   ;
 }

.university > div:active{
    border: 1px solid black;
    transform: scale(1.4);
}

.hovered{
    animation:slider 4s ease 0s infinite ;
}

.edu-details{
    width:500px;
    text-align: center;
    height: auto;
    border: 1px solid black;
    border-radius: 5px ;
}

.edu-details ul li{
    list-style-type: none;
    text-align: left;
}

@keyframes slider {
    0%{transform: rotate(0deg);}
    10%{transform: rotate(5deg) ;}
    20%{transform: rotate(-5deg) ;}
    30%{transform: rotate(5deg) ;}
    40%{transform: rotate(-5deg) ;}
    50%{transform: rotate(5deg) ;}
    60%{transform: rotate(-5deg) ;}
    70%{transform: rotateX(5deg) ;}
    80%{transform: rotateX(-5deg) ;}
    90%{transform: rotateX(5deg) ;}
    100%{transform: rotateX(-5deg) ;}
}

@media only screen and (max-width:700px){
    .university>div{
        scale:1.0;
        display: block;/*inline for other screen size*/
    }
}
@media only screen and (max-width:600px){
    .education{
        height:auto;
    }
    
    .edu-container{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        flex-direction: column;
        
    }
    .university>div{
        scale: 1.0;
    }
}

@media only screen and (max-width:500px){
    .edu-details{
        width:90%;
        text-align: center;
        height: auto;
        border: 1px solid black;
        border-radius: 5px ;
    }
}
