.education{
    position: relative;
    width:100%;
    height:auto;
    margin-top: 120px;
    border:0px solid black;
    background-color: linear-gradient(45deg,rgb(1, 9, 33),rgb(67, 128, 157),rgb(1, 9, 33));

}
.education h1{
    text-align: center;
}
.edu-icon{
    position: absolute;
    width: 100%;
    height:100%;
    border: 0px solid black;
}
.bubble{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid white;
    border-radius: calc(50%);
    color:black;
    background-color:rgba(255,255,255,0.3);
    z-index:-1;
    animation:bubble 3s ease 0s   ;
}
@keyframes bubble {
    0%{transform: scale(0) rotate(0deg);}
    100%{transform: scale(1.5) rotate(360deg);}
}
.bubble::after{
    position: absolute;
    border-radius:50%;
    background-color: white;
    content: "";
    width:4px;
    height:4px;
    top:9px;
    left:9px;
}

.edu-container{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    
}
.university{
    width:auto;
    height:auto;
    border: 0px solid black;
}
.university>div{
    position: relative;
    width:200px;
    height: 30px;
    scale: 1.2;
    display: block;/*inline for other screen size*/
    padding: 10px 0px;
    margin-bottom: 30px;
    color:white;
    cursor: pointer;
    text-align: center;
    transition: 0.1s ease;
    background: linear-gradient(45deg,rgb(1, 9, 33),rgb(67, 128, 157));
}
.university div:first-child{
   border-radius: 44% 40% 48% 25% / 55% 58% 41% 39%  ;
}
.university div:last-child{
    border-radius: 44% 22% 11% 40% / 48% 60% 41% 49%   ;
 }

.university > div:active{
    border: 1px solid black;
    transform: scale(1.4);
}

.hovered{
    animation:slider 4s ease 0s infinite ;
}
@keyframes slider {
    0%{transform: rotate(0deg);}
    10%{transform: rotate(5deg) ;}
    20%{transform: rotate(-5deg) ;}
    30%{transform: rotate(5deg) ;}
    40%{transform: rotate(-5deg) ;}
    50%{transform: rotate(5deg) ;}
    60%{transform: rotate(-5deg) ;}
    70%{transform: rotateX(5deg) ;}
    80%{transform: rotateX(-5deg) ;}
    90%{transform: rotateX(5deg) ;}
    100%{transform: rotateX(-5deg) ;}
}
.course{
    width: 400px;
    height: 300px;
    border: 0px solid black;
    border-radius:72% 27% 63% 37% / 46% 26% 73% 55%;
    color:white;
    background-color: rgb(174, 180, 181);
    background: linear-gradient(45deg,rgb(1, 9, 33),rgb(67, 128, 157));
    /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
    /*clip-path: url("#clipPath");*/
    overflow: hidden;
    animation:fun 5s ease-in-out infinite;
}

@keyframes fun {
    0%{transform: scale(1);}
    10%{transform: scale(1.1);}
    20%{transform: scale(1);}
    30%{transform: scale(1.1);}
    40%{transform: scale(1);}
    50%{transform: scale(1.1);}
    60%{transform: scale(1);}
    70%{transform: scale(1.1);}
    80%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

.course > div:first-child{
    position: absolute;
    display: flex;
    border: 0px solid black;
    width: 300%;
    height: 100%;
    transition: 0.5s;
}

.course > div:first-child > div{
    position: relative;
    border: 0px solid black;
    width: 33.333%;
    height: 100%;
    padding: 0px 5px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.course > div:first-child p{
    text-align: center;
}
.course div > ul{
    border: 0px solid black;
    list-style-type: none;
    padding:0;
    margin:0 ;
}
.course div ul li{
    padding:0px 0px 15px 0px;
    text-align: center;
}

@media only screen and (max-width:700px){
    .university>div{
        scale:1.0;
        display: block;/*inline for other screen size*/
    }
    .course{
        transform: scale(0.8);
    }

    @keyframes fun {
        0%{transform: scale(0.8);}
        10%{transform: scale(0.9);}
        20%{transform: scale(0.8);}
        30%{transform: scale(0.9);}
        40%{transform: scale(0.8);}
        50%{transform: scale(0.9);}
        60%{transform: scale(0.8);}
        70%{transform: scale(0.9);}
        80%{transform: scale(0.8);}
        90%{transform: scale(0.9);}
        100%{transform: scale(0.8);}
    }
}
@media only screen and (max-width:600px){
    .education{
        height:auto;
    }
    
    .edu-container{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        flex-direction: column;
        
    }
    .university>div{
        scale: 1.0;
    }
    .course{
        transform: scale(0.7);
    }

    @keyframes fun {
        0%{transform: scale(0.7);}
        10%{transform: scale(0.8);}
        20%{transform: scale(0.7);}
        30%{transform: scale(0.8);}
        40%{transform: scale(0.7);}
        50%{transform: scale(0.8);}
        60%{transform: scale(0.7);}
        70%{transform: scale(0.8);}
        80%{transform: scale(0.7);}
        90%{transform: scale(0.8);}
        100%{transform: scale(0.7);}
    }
}

@media only screen and (max-width:330px){
    .course{
        transform:scale(0.5);
    }

    @keyframes fun {
        0%{transform: scale(0.5);}
        10%{transform: scale(0.6);}
        20%{transform: scale(0.5);}
        30%{transform: scale(0.6);}
        40%{transform: scale(0.5);}
        50%{transform: scale(0.6);}
        60%{transform: scale(0.5);}
        70%{transform: scale(0.6);}
        80%{transform: scale(0.5);}
        90%{transform: scale(0.6);}
        100%{transform: scale(0.5);}
    }
    
}
